<div class="container">
  <form>
    <p>
      <label>Age: </label>
      <input type="number" class="form-control" name="age" required [(ngModel)]="person.age" />
      <label> year(s)</label>
    </p>

    <p>
      <label>Height: </label>
      <input type="number" name="height" required [(ngModel)]="person.height" />
      <label> cm</label>
    </p>

    <p>
      <label>Weight: </label>
      <input type="number" name="weight" required [(ngModel)]="person.weight" />
      <label> kg</label>
    </p>

    <p>
      <button type="submit" (click)="onCheckWeight()">Check!</button>
    </p>
  </form>
</div>
